<head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<nav class="navbarMain">
  <a class="navbar-brand brandSettings" href="#">
    RideWash24
  </a>

  <ul class="nav navbar-nav ">
    <li class="nav-item float-lg-right float-md-right float-sm-right float-xs-right">
      <form class="nav-link form-inline">
        <button *ngIf='loggedIn.in' (click)="logout()" class="btn">WYLOGUJ SIĘ</button>
        <button *ngIf='!loggedIn.in' class="btn" data-toggle="modal" data-target="#loginModal">ZALOGUJ SIĘ</button>
        <button class="btn settingsButton" type="submit"><span class="fa fa-gear"></span> USTAWIENIA</button>
        <!-- Trigger the modal with a button -->
      </form>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<login-cmp></login-cmp>