/* -----------------------------
          Navbars
------------------------------*/

.navbarMain {
    position: relative;
    border-radius: 0;
    margin-bottom: 0px;
    height: 42px;
    background-color: #1A2530;
    box-shadow: 0px 0px 16px rgba(0,0,0, 0.3);
}

/*.navbarSecondary {} moved to search.component.css*/

.footerShadow {
    box-shadow: 0px -3px 50px rgba(0,0,0, 0.7);
}

.brandSettings {
    font-family: 'Pacifico', cursive;
    color: #E6301D;
    font-size: 32px;
    line-height: 100%;
    padding-left: 12px;
}

/* buttons section */
button { 
    color: #ffffff;
    background-color: #E6301D;
    margin: 0px 10px 3px -5px;
    height: 30px;
    vertical-align: middle;
    padding: 7px 12px 7px 12px;
    font-size: 0.8em;
    outline: none;
}

button:focus { outline:0px; }

button:hover { background: #E6301D; }

button:active{
    background:#E6301D;
    outline:0;
}

.settingsButton {
     background-color: #656565;
}

/* lines section */
.singleLine {
    background-color: #E6301D;
    height: 7px;
}

