.mapStyle {
    padding: 0px;
}

.rowStyle {
    margin: 0px;
}

.navbarSecondary {
    position: relative;
    border-radius: 0;
    margin-bottom: 0px;
    height: 58px;
    background-color: #2C3E50;
} 

.footerShadow {
    box-shadow: 0px -3px 50px rgba(0,0,0, 0.7);
}

.singleLine {
    background-color: #E6301D;
    height: 7px;
}