<nav class="navbarSecondary">
  <ul class="nav navbar-nav">
    <li class="nav-item float-lg-left float-md-left float-sm-left float-xs-left">
      <form class="nav-link  form-inline">
        <map-search-cmp></map-search-cmp>
      </form>
    </li>
  </ul>
</nav>

<div class="container-fluid mapStyle">
  <div class="row content rowStyle">
    <div class="col-sm-12 col-md-12 col-lg-12 main mapStyle">
      <map></map>
    </div>
  </div>
</div>