<!-- Modal -->

<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content loginModal">
            <div class="container w-100">


                <div class="row">
                    <!-- Single Line -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 singleLine">
                    </div>
                </div>


                <div class="row">
                    <!-- X Button -->
                    <div class="col-*-12 offset-*-11">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>

                <div class="row">
                    <!-- Modal Header -->
                    <div class="col-*-12">
                        <div class="modal-header">
                            <h4 class="modal-title">RideWash24</h4>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- Modal Body -->
                    <div class="col-*-12">
                        <div class="modal-body">

                            <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
                                <div class="form-group">
                                    <label for="formGroupExampleInput" class="textSignIn">Login</label>
                                    <input type="text" class="form-control formSettings" name="email" [(ngModel)]="model.email" #email="ngModel" required>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput2" class="textSignIn">Hasło</label>
                                    <input type="password" class="form-control formSettings" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                                </div>


                                <div class="form-group row centerBlock">
                                    <div class="col-*-12">
                                        <button class="btn signInButton" type="submit">Zaloguj się</button>
                                    </div>
                                </div>

                            </form>

                            <p class="textPasswordRecovery">Nie pamiętam hasła</p>
                            <!-- TODO - make a link from it! -->

                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- Modal Footer -->
                    <div class="col-*-12">
                        <div class="modal-footer">

                            <div class="row centerBlock">
                                <div class="col-*-12">

                                    <p class="textSignUp">Nie masz jeszcze konta?</p>
                                    <button class="btn signUpButton" type="submit">Zarejestruj się</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- Single Line -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 singleLine">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>