
/* -----------------------------
          Login Modal
------------------------------*/

.loginModal {
    top: 100px;
    width: 390px;
    box-shadow: 0px 4px 54px rgba(0,0,0, 0.3);
}

.modal-header {
    border-bottom: 0;
}

.modal-title {
    font-family: 'Pacifico', cursive;
    color: #ED4743;
    font-size: 4em;
    text-align: center;  
}

.modal-body {
    border-bottom: 1px solid #ED4743;
}

.formSettings {
    border-radius: 10px;
    background: #F2F2F2;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.close { 
    color: #ED4743; 
    opacity: 1;
    margin-top: 2px;
}

.signInButton {
    background-color: #ED4743;
    color: #ffffff;
    font-family: 'Source Sans Pro';
    font-size: 2em;
    margin: 0;
    padding: 0;
    width: 305px;
    height: 50px;
    margin-top: 28px;
}

.signUpButton {
    background-color: #ED4743;
    color: #ffffff;
    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 32px;
    margin-bottom: 37px;
}

.centerBlock { /* Class used to center things like buttons */
    text-align: center;
}

textSignIn, .textPasswordRecovery, .textSignUp { 
    font-family: 'Source Sans Pro';
}

.textSignIn { /* Text by the Login and Password forms */
    color: #484848;
    font-size: 1em;
    margin-left: 10%;
    margin-bottom: 3px;
    font-family: 'Source Sans Pro', Bold;
}

.textSignUp { /* Text above SignUp button */
    color: #484848;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5px;
}

.textPasswordRecovery { /* Text below SignIn button */
    color: #ED4743;
    font-size: 1em;
    text-align: center;
}

.modal-header, .modal-body { 
    padding: 0 15px 0 15px;
}

/* TODO -   remove backgroung shading:replace with blur */
            
/* -----------------------------
             Other
------------------------------*/
