<div class="row">
  <div class="col-lg-offset-2 col-lg-6">
    <div class="input-groups">
      <input type="text" class="form-control searchBarSettings" [(ngModel)] = "address"  (setAddress) = "getAddress($event)" googleplace/>
    </div> 
  </div>
</div>