<div *ngIf="carwash" class="card text-center">
    <div class="card-header card-primary card-inverse text-white">
        Details
    </div>
    <div class="card-block">
        <h4 class="card-title">{{carwash.name}}</h4>
        <p class="card-text">{{carwash.address.lineone}}</p>
        <p class="card-text">{{carwash.address.linetwo}}</p>
        <p class="card-text">{{carwash.address.city}}</p>
        <p class="card-text">{{carwash.country.name}}</p>

    </div>
    <div class="card-footer card-primary card-inverse text-white">
        <a (click)='goBack()' class="btn btn-success fa fa-arrow-circle-left"> Back</a>
    </div>
</div>